.page {
  width: 100%;
  height: 2em;
  min-width: 1000px;
  min-height: 1000px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(139, 127, 117);
}

#container {
  text-align: center;
}

/* INDEX.HTML */

.banner
{
  width: 100%;
  display: block;
  height: 70%;
  position: relative;
  text-align: center;
}
.banner > .banner-image
{
  width: 100%;
  display: block;
  height: 70%;
  position: relative;
  text-align: center;
}
.header
{
  position: absolute;
  top: 30%;
  bottom: 40%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  color: white;
  letter-spacing: 40px;
}
.sub-header
{
  position: absolute;
  bottom: 20%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  color: white;
}
.buttons
{
  position: relative;
  bottom: 21%;
}
.collapsible
{
  background-color: #222831;
  color: white;
  cursor: pointer;
  padding: 40px;
  width: 100%;
  border: none;
  text-align: left;
  line-height: 50px;
  outline: none;
  font-size: 35px;
  font-family: 'Cinzel', serif;
}
.active, .collapsible:hover
{
  background-color: #393e46;
}
.content
{
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out;
  background-color: #B1A296;
  font-size: 20px;
}
.collapsible:after
{
  content: '\25C9';
  font-size: 40px;
  color: #fd7014;
  float: left;
  margin-left: 5px;
  margin-right: 20px;
}
.active:after
{
  content: "\25CE";
}
.about
{
  text-indent: 50px;
  float: left;
  margin-left: 50px;
}

.content > .contact
{
  text-align: center;
  padding-bottom: 20px;
}
a
{
  color: rgb(35, 35, 116);
}
img.beach
{
  float: right;
  max-height: 400px;
  position: relative;
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tile {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  border: 2px solid;
  height: 300px;
  width: 300px;
  position: relative;
  vertical-align: middle;
  float: left;
}

.tile-header {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 1px;
  left: 20px;
  text-align: center;
  z-index: 1;
}

.code {
  height: 300px;
  width: 300px;
  position: relative;
  opacity: .5;
  filter: alpha(opacity=50);
}

/* GALLERY.HTML */

img.bioSite-prototype
{
  float: left;
  max-height: 400px;
  position: relative;
  margin-left: 180px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}
.div-bioSite-prototype:hover img
{
  transform: scale(1.1);
}
.div-bioSite-prototype img
{
  transition: transform .25s ease;
}
img.bioSite
{
  float: right;
  max-height: 400px;
  position: relative;
  margin-right: 180px;
  margin-top: 200px;
  margin-bottom: 50px;
  cursor: pointer;
}
.div-bioSite:hover img
{
  transform: scale(1.1);
}
.div-bioSite img
{
  transition: transform .25s ease;
}
img.web231
{
  float: left;
  max-height: 400px;
  position: relative;
  margin-left: 80px;
  margin-top: 190px;
  margin-bottom: 50px;
  cursor: pointer;
}
.div-web231:hover img
{
  transform: scale(1.1);
}
.div-web231 img
{
  transition: transform .25s ease;
}
img.portfolio
{
  float: right;
  max-height: 400px;
  position: relative;
  margin-right: 220px;
  margin-top: 160px;
  margin-bottom: 50px;
  cursor: pointer;
}
.div-portfolio:hover img
{
  transform: scale(1.1);
}
.div-portfolio img
{
  transition: transform .25s ease;
}
img.web330
{
  float: left;
  max-height: 400px;
  position: relative;
  margin-left: 126px;
  margin-top: 190px;
  margin-bottom: 50px;
  cursor: pointer;
}
.div-web330:hover img
{
  transform: scale(1.1);
}
.div-web330 img
{
  transition: transform .25s ease;
}

/* NAVBAR */

#navbar {
  overflow: hidden;
  background-color: #222831;
  width: 100%;
  top: 0;
  position: relative;
}

#navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Cinzel', serif;
}

#navbar a:hover {
  color: white;
  background-color: #393e46;;
}

#navbar b {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Cinzel', serif;
}

/* DIAGRAMS.HTML */

#diagram {
  display: inline-block;
  margin-top: 100px;
}

#diagram:hover img {
  transform: scale(1.1);
}

#diagram img {
  transition: transform .25s ease;
}

/* PRESENTATIONS.HTML */

.card {
  margin-top: 100px;
  margin-left: 13%;
}

/* BACK BUTTON */

.back {
  margin-top: 75px;
  margin-bottom: 100px;
}

input {
  font-size: 17px;
}