<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8" />
        <title>Justin Singleton</title>
        <meta name="description" content="A personal portfolio of Justin Singleton." />
        <meta name="keywords" content="portfolio, singleton, web, development, software, designer" />
        <meta name="robots" content="no index, follow" />
        <meta http-equiv="author" content="Justin Singleton" />
        <meta http-equiv="pragma" content="no-cache" />
        <link rel="stylesheet" type="text/css" href="../main.css" />
        <link href="https://fonts.googleapis.com/css?family=Cinzel|Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="navbar">
            <a href="#">Contact</a>
            <a href="../web-420/singleton-rest.html">Presentations</a>
            <a href="gallery.html">Gallery</a>
            <a href="../web-335/singleton-diagrams.html">Diagrams</a>
            <a href="../index.html">Home</a>
            <b>Justin Singleton</b>
        </div>

        <div id="container">

          <div class="web-420">
            <a href="https://singleton-api-gateway.herokuapp.com" target="_blank">
              <img src="../images/web420.JPG" class="api-gateway">
            </a>
          </div>

          <form action="../index.html" class="back">
            <input type="submit" value="Go Back">
          </form>

        </div>
    </body>
</html>