<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8" />
        <title>Justin Singleton</title>
        <meta name="description" content="A personal portfolio of Justin Singleton." />
        <meta name="keywords" content="portfolio, singleton, web, development, software, designer" />
        <meta name="robots" content="no index, follow" />
        <meta http-equiv="author" content="Justin Singleton" />
        <meta http-equiv="pragma" content="no-cache" />
        <link rel="stylesheet" type="text/css" href="../main.css" />
        <link href="https://fonts.googleapis.com/css?family=Cinzel|Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="navbar">
            <a href="/contact">Contact</a>
            <a href="../web-335/singleton-diagrams.html">Diagrams</a>
            <a href="../index.html">Home</a>
            <b>Justin Singleton</b>
        </div>

        <div class="gallery">
            <div class="div-bioSite-prototype">
              <a href="https://github.com/Friend0fMisery/bioSite" target="_blank">
                <img src="../images/bioSite-prototype.jpeg" class="bioSite-prototype">
              </a>
            </div>
            <p class ="first">
              Here is the very first prototype I ever made. It was created for a project that was 
              supposed to be a single-page application on the person of my choice. I chose my wife. 
              If you click on the image, you will be taken to the repository for this project.
            </p>
            <div class="div-bioSite">
              <a href="https://friend0fmisery.github.io/bioSite/" target="_blank">
                <img src="../images/bioSite.JPG" class="bioSite">
              </a>
            </div>
            <p class="second">
              This is the final outcome of the project mentioned above. My very first full creation
              with HTML/CSS. If you click on the image, you will be taken to the actual webpage, 
              hosted with GitHub.
            </p>
            <div class="div-web231">
              <a href="https://github.com/Friend0fMisery/web-231" target="_blank">
                <img src="../images/web231.JPG" class="web231">
              </a>
            </div>
            <p class="third">
              This is a screenshot of the GitHub repository for my Web-231 Introduction to JavaScript 
              class. Within this repository shows the progression from start to finish of the whole 
              9-week course and all of the Assignments required of me.
            </p>
            <div class="div-portfolio">
              <a href="https://github.com/Friend0fMisery/personal-portfolio" target="_blank">
                <img src="../images/portfolio-prototype.jpg" class="portfolio">
              </a>
            </div>
            <p class="fourth">
              Here is the actual prototype of the site you are on right now. This prototype was 
              made from the knowledge I gained from creating a dozen prototypes in my Business 
              Environment class.
            </p>
            <div class="div-web330">
              <a href="https://github.com/Friend0fMisery/web-330" target="_blank">
                <img src="../images/web330.JPG" class="web330">
              </a>
            </div>
            <p class="fifth">
              Finally, this is the latest Assignment I have worked on in my class. I thought it 
              fitting to include a snippet of code on "The Singleton Pattern", since it is my 
              namesake. By clicking on the image, you will be taken to my JavaScript II Web-330 
              repository.
            </p>
        </div>
    </body>
</html>