<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Justin Singleton</title>
        <meta name="description" content="A personal portfolio of Justin Singleton." />
        <meta name="keywords" content="portfolio, singleton, web, development, software, designer" />
        <meta name="robots" content="no index, follow" />
        <meta http-equiv="author" content="Justin Singleton" />
        <meta http-equiv="pragma" content="no-cache" />
        <link rel="stylesheet" type="text/css" href="../main.css" />
        <link href="https://fonts.googleapis.com/css?family=Cinzel|Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <div id="navbar">
            <a href="#">Contact</a>
            <a href="presentations-hub.html">Presentations</a>
            <a href="gallery.html">Gallery</a>
            <a href="../web-335/singleton-diagrams.html">Diagrams</a>
            <a href="../index.html">Home</a>
            <b>Justin Singleton</b>
        </div>

        <div id="container">
            
            <div class="tile">
                <a href="../web-420/singleton-rest.html">
                  <h3 class="tile-header">Web-420<br />Presentations</h3>
                  <img src="../images/code.jpg" class="code">
                </a>
              </div>

              <div class="tile">
                <a href="../web-430/singleton-devops.html">
                  <h3 class="tile-header">Web-430<br />Presentations</h3>
                  <img src="../images/code.jpg" class="code">
                </a>
              </div>
        </div>
    </body>
</html>